@use '../../styles/utils/index' as *;

.container {
  grid-column: 1 /-1;
}

.title {
  @include h2-text-mobile;
  margin-bottom: 24px;
  color: $primary-color;
}

.categories {
  display: grid;

  @include onTablet {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}

.category {
  &:nth-child(n+2) {
    margin-top: 32px;

    @include onTablet {
      margin-top: 0;
    }
  }
}

.Category_Img {
  width: 100%;
}

.Category_Title {
  @include h4-text-mobile;
  margin-top: 24px;
  color: $primary-color;
}

.Category_Amount {
  @include bodyText;
  color: $secondary-color;;
}
