@use '../../../styles/utils/index' as *;

.addToFavourite {
  background-image: url('../../../assets/icons/like-button.svg');
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  display: flex;
  border: $icons-color 1px solid;

  &:hover {
    border: $primary-color 1px solid;
  }
}
