$primary-color: #313237;
$secondary-color: #89939a;
$icons-color: #b4bdc3;
$elements-color: #e2e6e9;
$hover-bg-color: #fafbfc;
$white-color: #fff;
$color-green: #27ae60;
$color-red: #eb5757;

$color-gold: #fcdbc1;
$color-green: #5f7170;
$color-black: #4c4c4c;
$color-silver: #f0f0f0;
