:root[data-theme='light'] {
  --primary-color: #313237;
  --background-card-color: #fff;
  --main-background-color: #fff;
  --text-color: #89939a;
  --white-color: #fff;
}

:root[data-theme='dark'] {
  --primary-color: #f1f2f9;
  --background-card-color: #161827;
  --main-background-color: #0f1121;
  --text-color: #75767f;
  --white-color: #0f1121;
}

$primary-color: var(--primary-color);
$secondary-color: #89939a;
$icons-color: #b4bdc3;
$elements-color: #e2e6e9;
$hover-bg-color: #fafbfc;
$white-color: var(--white-color);
$color-green: #27ae60;
$color-red: #eb5757;
