@use '../../styles/utils/' as *;

.title {
  color: $primary-color;
  @include h2-text;

  @include onTablet {
    @include h1-text;
  }
}

.Sort {
  width: 100%;
  margin-bottom: 24px;
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  @include onTablet {
    grid-template-columns: repeat(12, 1fr);
    margin-top: 40px;
  }

  @include onDesctop {
    grid-template-columns: repeat(24, 1fr);
  }
}

.SortFiels_1 {
  @include onTablet {
    grid-column: span 4 / span 4;
  }
}

.SortFiels_2 {
  @include onTablet {
    grid-column: span 3 / span 3;
  }
}

.text {
  @include bodyText;
  color: $secondary-color;
}

.product {
  background-color: $hover-bg-color;
  justify-content: center;

  @include pageGrid;
  row-gap: 40px;

  &__card {
    height: 506px; //delete after implement product card
    background-color: #091a6f; //delete after implement product card
    grid-column: span 4;

    @include onTablet {
      grid-column: span 6;
    }

    @media screen and (min-width: 767px) {
      grid-column: span 4;
    }

    @include onDesctop {
      grid-column: span 6;
    }
  }
}
