@use '../../styles/utils/' as *;

.title {
  color: $primary-color;
  @include h2-text;

  @include onTablet {
    @include h1-text;
  }
}

.text {
  @include bodyText;
  color: $secondary-color;
}

.product {
  justify-content: center;

  @include pageGrid;
  row-gap: 40px;

  &__card {
    height: 506px; //delete after implement product card
    background-color: #091a6f; //delete after implement product card
    grid-column: span 4;

    @include onTablet {
      grid-column: span 6;
    }

    @media screen and (min-width: 767px) {
      grid-column: span 4;
    }

    @include onDesctop {
      grid-column: span 6;
    }
  }
}
