@use '../../styles/utils/index' as *;

.container {
  @include pageGrid;
}

.HomePage {
  &__title {
    grid-column: 1 /-1;
    margin-top: 24px;
    color: $primary-color;
    @include h2-text;

    @include onTablet {
      @include h1-text;
      margin-top: 32px;
      margin-bottom: 32px;
    }

    @include onDesctop {
      @include h1-text;
      margin-top: 56px;
      margin-bottom: 56px;
    }
  }
}
